.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  margin-top: 2rem;
}

.card {
  padding: 20px;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.18);
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.9rem;
  color: #444;
}

.btn {
  margin-top: 1rem;
  padding: 10px;
  border: none;
  background: #060535;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: #11137a;
}
