.hero-banner {
  height: 70vh;
  background: linear-gradient(
      rgb(4, 42, 71),
      rgb(4, 42, 71, 0.75)
    ),
    url("/banner.jpg"); /* opcional */
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: #ffffff;
  max-width: 700px;
  padding: 2rem;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #e0e0e0;
}

.hero-btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: #2697f3;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.hero-btn:hover {
  background: #076abb;
}
